.main-container h3{
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

.main-container h3::after{
  content: "";
  height: 4px;
  width: 200px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: var(--gradient);
}

.contact-container{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.contact-info{
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.info{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.info-title, .form-title{
  color: gray;
  font-size: 16px;
}

.info-desc{
  font-size: 18px;
  display: flex;
  column-gap: 30px;
  font-weight: 600;
  flex-wrap: wrap;
  row-gap: 20px;
}

.link{
  cursor: pointer;
}

.contact-form{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 45%;
  margin-right: 40px;
}

.input, .desc{
  background-color: inherit;
  color: white;
  opacity: calc(1);
  outline: transparent;
  border: 0px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  font-size: 18px;
}

.input:focus, .desc:focus{
  border-color: white;
}

.desc{
  resize: none;
  height: 100px;
}

.submit{
  color: black;
  height: 38px;
  width: fit-content;
  padding: 0px 20px;
  border-radius: 20px;
  border: 0px;
}

@media (max-width: 1100px){
  .contact-container{
    flex-direction: column;
  }

  .contact-info{
    row-gap: 60px;
  }

  .info-desc{
    font-size: 18px;
    column-gap: 50px;
  }

  .contact-form{
    width: 80%;
    margin-top: 60px;
  }
}

@media (max-width: 900px){
  .contact-form{
    width: 100%;
    margin-top: 60px;
    margin-right: 0px;
  }
}

@media (max-width: 400px){
  .info-desc{
    font-size: 16px;
    column-gap: 40px;
  }

  .input, .desc{
    font-size: 14px;
  }
}