.main-container h3{
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

.main-container h3::after{
  content: "";
  height: 4px;
  width: 155px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: var(--gradient);
}

.projects-container-container{
  margin-top: 40px;
}

.projects-categories{
  display: flex;
  column-gap: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.projects-categories div{
  cursor: pointer;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 5px;
}

#all{
  color: black;
  background-color: gray;
}

.projects-container{
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.card{
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.card *{
  width: inherit;
  height: inherit;
}

.card-image{
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.card .card-curtain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black !important;
  opacity: calc(0.6);
  display: none;
}

.card-info{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  display: none;
}

.card-title{
  font-weight: bold;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
}

.card-type{
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}

@media (max-width: 860px){
  .card{
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 780px){
  .card{
    width: 250px;
    height: 150px;
  }
}

@media (max-width: 705px){
  .projects-categories{
    overflow-x: scroll;
    column-gap: 10px;
  }

  .projects-categories div{
    font-size: 12px;
  }

  .projects-container{
    column-gap: 10px;
  }
}