.main-container h3{
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

.main-container h3::after{
  content: "";
  height: 4px;
  width: 155px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: var(--gradient);
}

.projects-container-container{
  margin-top: 40px;
}

.projects-categories{
  display: flex;
  column-gap: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.projects-categories div{
  cursor: pointer;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 5px;
}

#all{
  color: black;
  background-color: gray;
}

.projects-container{
  margin-top: 20px;
}

.card{
  width: 300px;
  height: 200px;
  border: 2px solid gray;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.card *{
  width: inherit;
  height: inherit;
}

.card .card-curtain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black !important;
  opacity: calc(0.8);
  display: none;
}