@import './global.css';

.main-intro-container {
  display: flex;
  column-gap: 30px;
}

.intro-container {
  flex: 1;
  padding-top: 70px;
}

.profile-image {
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.intro-name {
  font-size: 45px;
  padding-top: 30px;
  font-weight: 600;
}

.text {
  margin-left:10px;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
}

.description{
  color: gray;
  margin-top: 40px;
  font-size: 18px;
  padding: 0 10px;
  line-height: 1.5;
  text-align: justify;
}

.dynamic-details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20%;
  row-gap: 40px;
  font-size: 18px;
  margin-top: 75px;
}

.dynamic-details div{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.dynamic-details div:nth-child(2){
  padding-left: 100px;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 1050px){
  .dynamic-details {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 40px;
  }

  .profile-image {
    height: 500px !important;
  }

  .dynamic-details div:nth-child(2){
    padding-left: 0px;
  }

  .description{
    font-size: 16px;
  }
}

@media (max-width: 900px){
  .intro-name {
    font-size: 35px;
  }
}

@media (max-width: 795px){
  .intro-name {
    font-size: 30px;
  }

  .dynamic-details {
    font-size: 16px;
  }
}

@media (max-width: 730px){
  .main-intro-container {
    display: flex;
    flex-direction: column;
  }

  .intro-name {
    font-size: 40px;
  }

  .profile-image {
    width: calc(100%) !important;
    height: 700px !important;
  }
}

@media (max-width: 530px){
  .profile-image {
    height: 600px !important;
  }
}

@media (max-width: 430px){
  .profile-image {
    height: 500px !important;
  }

  .intro-name {
    font-size: 30px;
  }
}

@media (max-width: 330px){
  .profile-image {
    height: 450px !important;
  }

  .intro-name {
    font-size: 25px;
  }

  .dynamic-details {
    font-size: 14px;
  }
}