@import "./global.css";

.slider-wrapper{
  margin: 100px 0px 0px 0px;
  border-top: 1px solid rgb(58, 57, 57);
  padding: 50px 5px;
  overflow: hidden;
  position: relative;
}

.slider-container{
  display: flex;
  column-gap: 180px;
  width: max-content;
  animation: slide-left 30s linear infinite;
  will-change: transform;
}

.slider-logo{
  font-size: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide-left{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-50%, 0, 0);
  }
}