.data-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 60px;
  position: relative;
}

.main-title{
  background-color: var(--main-font-color);
  color: black;
  padding: 12px 15px;
  border-radius: 20px;
  font-weight: 600;
  position: relative;
}

.main-title::after{
  content: "";
  width: 3px;
  border: 10px;
  height: var(--after-height);
  left: var(--after-left);
  background: var(--gradient);
  position: absolute;
  top: 43px;
}

.card{
  padding: 20px;
  background-color: var(--card-color);
  width: 350px;
  border-radius: 10px;
}

.title{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 15px;
}

@media (max-width: 915px){
  .card{
    padding: 15px;
    width: 300px;
  }
}

@media (max-width: 840px){
  .data-card-container{
    row-gap: 30px;
  }

  .main-title{
    width: fit-content;
  }

  .main-title::after{
    display: none;
  }

  .card{
    padding: 15px;
    width: 400px;
    margin-left: 0px !important;
  }
}

@media (max-width: 840px){
  .card{
    padding: 15px;
    width: 90%;
    margin-left: 0px !important;
  }
}