.main-container h3{
  padding-top: 20px;
  font-size: 28px;
  position: relative;
}

.main-container h3::after{
  content: "";
  background: var(--gradient);
  width: 170px;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}